%forBefore {
  content: "";
  display: block;
}
html {
  body {
    .breakfast {
      position: relative;
      width: 100%;
      .back-containerForBreakfast {
        @extend %back-container;
        background: url("../img/imgForBreakfast.jpeg") no-repeat 100% 100%;
        background-size: cover;
        @media (min-width: 299px) and (max-width: 599px) {
          background: url("../img/imgForBreakfast.jpeg") no-repeat 20% 100%;
        }
        .flex {
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 100%;
          align-items: center;
          @media (min-width: 299px) and (max-width: 599px) {
            align-items: flex-start;
          }
        }
        .container {
          .breakfast-container {
            position: relative;
            width: calc(100% / 1.1);
            .breakfast-back-container {
              @extend %back-container;
              .container-flex {
                @extend %container-flex;
                height: 100%;
                .infoForBreakfast {
                  position: relative;
                  width: calc(100% / 2 - 2%);
                  .back-info-breakfast {
                    @extend %back-container;
                    padding: 2%;
                    @media (min-width: 299px) and (max-width: 599px) {
                      margin: 10vw 0 0;
                    }
                    h2 {
                      @extend %dateForText;
                      color: #FFFFFF;
                      font-size: 3.2vw;
                      margin: 0 0 2.5% 0;
                      letter-spacing: 0.1em;
                      @media (min-width: 299px) and (max-width: 599px) {
                        font-size: 6vw;
                      }
                    }
                    .timeOfBreakfast {
                      @extend %dateForText;
                      color: #8B4513;
                      font-size: 1.8vw;
                      margin: 0 0 8% 0;
                      @media (min-width: 299px) and (max-width: 599px) {
                        font-size: 3vw;
                      }
                    }
                    h3 {
                      @extend %dateForText;
                      color: #FFFFFF;
                      font-size: 2.3vw;
                      margin: 0 0 1.5% 0;
                      @media (min-width: 299px) and (max-width: 599px) {
                        font-size: 5.5vw;
                      }
                    }
                    .textForDish {
                      @extend %dateForText;
                      color: #4F4F4F;
                      font-size: 1.5vw;
                      margin: 0 0 1.2% 0;
                      @media (min-width: 299px) and (max-width: 599px) {
                        font-size: 3.5vw;
                      }
                    }
                    .price {
                      @extend %dateForText;
                      color: #8B7500;
                      font-size: 1.4vw;
                      @media (min-width: 299px) and (max-width: 599px) {
                        font-size: 2.5vw;
                      }
                    }
                    .img-hr {
                      position: relative;
                      width: calc(100% / 3);
                      margin: 0 auto;
                      &:last-child {
                        margin: 0 auto 1vw;
                      }
                      .img-hr-container {
                        @extend %back-container;
                        background: url("../img/hr.png") no-repeat 100% 100%;
                        background-size: cover;
                        margin: 0 auto;
                      }
                      &:before {
                        @extend %forBefore;
                        padding: 11%;
                      }
                    }
                  }
                  &:before {
                    @extend %forBefore;
                    padding: 58%;
                  }
                  @media (min-width: 299px) and (max-width: 599px) {
                    width: 100%;
                  }
                }
                .cardForBreakfast {
                  position: relative;
                  width: calc(100% / 2 - 2%);
                  .card-back-breakfast {
                    @extend %back-container;
                    .container-flex {
                      @extend %container-flex;
                      justify-content: center;
                      height: 100%;
                      align-items: center;
                      .cardForReservations {
                        position: relative;
                        width: calc(100% / 1.3);
                        .card-container-res {
                          @extend %back-container;
                          .top-background {
                            width: 100%;
                            height: 87%;
                            background-color: #E8E8E8;
                            .topPartOfCardForReservations {
                              width: 100%;
                              height: 100%;
                              padding: 2% 0 0 0;
                              .borderTop-container {
                                width: 95%;
                                height: 89%;
                                margin: 0 2%;
                                border: 2px dashed #696969;
                                border-bottom: none;
                                padding: 10% 0 0 0;
                                i {
                                  @extend %dateForText;
                                  color: #8B7500;
                                  font-size: 1.2vw;
                                }
                                #month {
                                  margin: 0 4% 0 0;
                                }
                                #date {
                                  margin: 0 22% 0 4%;
                                }
                                h2 {
                                  @extend %dateForText;
                                  color: #363636;
                                  font-size: 3vw;
                                  margin: 0 2% 15%;
                                }
                                p {
                                  @extend %dateForText;
                                  color: #4F4F4F;
                                  font-size: 1.7vw;
                                  margin: 0 2% 11%;
                                }
                                img {
                                  width: 100%;
                                  margin: 0;
                                }
                                a {
                                  text-decoration: none;
                                  display: flex;
                                  flex-direction: row;
                                  justify-content: center;
                                  span {
                                    display: inline-block;
                                    padding: 1.2vw 2vw;
                                    border: 1px solid #DCDCDC;
                                    background-color: transparent;
                                    margin: 0 auto;
                                    i {
                                      @extend %dateForText;
                                      color: #4F4F4F;
                                      font-size: 1.2vw;
                                    }
                                    &:hover {
                                      border: 2px solid #DCDCDC;
                                    }
                                  }
                                }
                              }
                            }
                          }
                          .bottom-background {
                            width: 81.8%;
                            height: 13%;
                            float: right;
                            background-color: #E8E8E8;
                            .cont-flex {
                              display: flex;
                              flex-direction: row;
                              flex-wrap: wrap;
                            }
                            .bottomPartOfCardForReservations {
                              width: 100%;
                              height: 100%;
                              .borderBottom-container {
                                width: 98%;
                                height: 87%;
                                float: right;
                                margin: 0 2% 2% 0;
                                border: 2px dashed #696969;
                                border-top: none;
                                border-left: none;
                              }
                            }
                          }
                          .containerForTriangle {
                            width: 18%;
                            height: 13%;
                            .triangle-topRight {
                              //position: absolute;
                              //bottom: 0;
                              //left: 0;
                              //width: 0;
                              //height: 0;
                              border-top: 55px solid #FFFFFF;
                              border-left: 55px solid transparent;
                              @media (min-width: 1200px) and (max-width: 1260px) {
                                border-top: 56px solid #FFFFFF;
                                border-left: 56px solid transparent;
                              }
                              @media (min-width: 1150px) and (max-width: 1199px) {
                                border-top: 52px solid #FFFFFF;
                                border-left: 52px solid transparent;
                              }
                              @media (min-width: 1100px) and (max-width: 1149px) {
                                border-top: 48px solid #FFFFFF;
                                border-left: 48px solid transparent;
                              }
                              @media (min-width: 1030px) and (max-width: 1099px) {
                                border-top: 44px solid #FFFFFF;
                                border-left: 44px solid transparent;
                              }
                              @media (min-width: 960px) and (max-width: 1029px) {
                                border-top: 41px solid #FFFFFF;
                                border-left: 41px solid transparent;
                              }
                              @media (min-width: 800px) and (max-width: 1059px) {
                                border-top: 35px solid #FFFFFF;
                                border-left: 35px solid transparent;
                              }
                              @media (min-width: 730px) and (max-width: 799px) {
                                border-top: 32px solid #FFFFFF;
                                border-left: 32px solid transparent;
                              }
                              @media (min-width: 671px) and (max-width: 729px) {
                                border-top: 30px solid #FFFFFF;
                                border-left: 30px solid transparent;
                              }
                              @media (min-width: 600px) and (max-width: 729px) {
                                border-top: 28px solid #FFFFFF;
                                border-left: 28px solid transparent;
                              }
                            }
                          }
                        }
                        &:before {
                          @extend %forBefore;
                          padding: 70%;
                        }
                      }
                      .card-2 {
                        position: relative;
                        width: calc(100% / 20);
                        .card-2-container {
                          @extend %back-container;
                          background-color: #CFCFCF;
                          .containerForBorder-2 {
                            width: 66.5%;
                            height: 96.5%;
                            margin: 10%;
                            border: 2px dashed #696969;
                            border-left: none;
                          }
                        }
                        &:before {
                          @extend %forBefore;
                          padding: 689%;
                        }
                      }
                      .card-3 {
                        position: relative;
                        width: calc(100% / 19);
                        .card-3-container {
                          @extend %back-container;
                          background-color: #B5B5B5;
                          .containerForBorder-3 {
                            width: 66.5%;
                            height: 96.5%;
                            margin: 10%;
                            border: 2px dashed #696969;
                            border-left: none;
                          }
                        }
                        &:before {
                          @extend %forBefore;
                          padding: 575%;
                        }
                      }
                    }
                  }
                  &:before {
                    content: "";
                    display: block;
                    padding: 58%;
                  }
                  @media (min-width: 299px) and (max-width: 599px) {
                    display: none;
                    }
                  //@media (min-width: 299px) and (max-width: 549px) {
                  //  width: 100%;
                  //}
                }
                //@media (min-width: 299px) and (max-width: 549px) {
                //  flex-wrap: wrap;
                //}
              }
            }
            &:before {
              @extend %forBefore;
              padding: 28%;
            }
          }
        }
      }
      &:before {
        @extend %forBefore;
        padding: 30%;
        @media (min-width: 299px) and (max-width: 599px) {
          padding: 50%;
        }
      }
    }
  }
}