html {
  body {
    .sandwich {
      width: 100%;
      height: auto;
      .container {
        .sandwichTitle {
          width: 100%;
          height: auto;
          background: url("../img/imgForSandwich/starburst.png") 100% 100% no-repeat;
          background-size: cover;
          h2 {
            @extend %dateForText;
            color: #363636;
            font-size: 3.2vw;
            letter-spacing: 0.1em;
            padding: 8% 0 2%;
            @media (min-width: 300px) and (max-width: 549px) {
              font-size: 6vw;
            }
          }
          p {
            @extend %dateForText;
            color: #8B4513;
            font-size: 1.3vw;
            margin: 0 0 8%;
            @media (min-width: 300px) and (max-width: 549px) {
              font-size: 3vw;
            }
          }
        }
        .mainContainerForSandwich {
          width: 100%;
          height: auto;
          .container-flex {
            @extend %container-flex;
            .left-container {
              width: calc(100% / 4 - 5%);
              height: auto;
              figure {
                width: 100%;
                height: auto;
                a {
                  text-decoration: none;
                  .img-containerSandwich {
                    position: relative;
                    width: calc(100% / 2);
                    margin: 0 auto;
                    .img-back-containerSandwich {
                      @extend %back-container;
                      background: url("../img/imgForSandwich/bread-food-plate-rucola.jpg") no-repeat 100% 100%;
                      background-size: cover;
                      border-radius: 50%;
                      &:hover {
                        opacity: 0.8;
                      }
                    }
                    .img-2 {
                      background: url("../img/imgForSandwich/bread-food-salad-sandwich.jpg") no-repeat 100% 100%;
                      background-size: cover;
                    }
                    .img-3 {
                      background: url("../img/imgForSandwich/pexels-photo-133578.jpeg") no-repeat 100% 100%;
                      background-size: cover;
                    }
                    &:before {
                      @extend %forBefore;
                      padding: 50%;
                    }
                  }
                  h3 {
                    @extend %dateForText;
                    font-size: 1.5vw;
                    color: #8B4513;
                    margin: 5% 0 2%;
                    &:hover {
                      opacity: 0.7;
                    }
                    @media (min-width: 300px) and (max-width: 549px) {
                      font-size: 3.5vw;
                    }
                  }
                  p {
                    @extend %dateForText;
                    font-size: 1.2vw;
                    color: #4F4F4F;
                    margin: 0 0 20%;
                    @media (min-width: 300px) and (max-width: 549px) {
                      font-size: 3vw;
                    }
                  }
                }
              }
              @media (min-width: 300px) and (max-width: 549px) {
                width: calc(100% - 22% - 22%);
                margin: 0 auto;
              }
            }
            .right-container {
              width: calc(100% / 4 * 3 - 5%);
              height: auto;
              .dish-sandwich {
                position: relative;
                width: 100%;
                border: 1px solid #4F4F4F;
                align-self: center;
                .back-containerForDishSandwich {
                  @extend %back-container;
                  border: 4px solid #FFFFFF;
                  background: url("../img/imgForSandwich/pexels-photo-203089.jpeg") no-repeat 100% 100%;
                  background-size: cover;
                  .container-flex {
                    justify-content: flex-end;
                  }
                  .mainContainerForTime {
                    width: 100%;
                    height: 100%;
                    .containerForTime {
                      width: calc(100% / 5);
                      height: 115%;
                      align-self: center;
                      .whileBlock {
                        width: 100%;
                        height: calc(100% / 16);
                        background-color: #FFFFFF;
                      }
                      .prep, .cook {
                        width: 100%;
                        height: calc(100% / 3.45);
                        background-color: #FFFFFF;
                        opacity: 0.6;
                        margin: 0 0 1% 0;
                        .title {
                          @extend %dateForText;
                          color: #8B4513;
                          font-size: 1.6vw;
                          padding: 10% 0 20% 0;
                          @media (min-width: 300px) and (max-width: 549px) {
                            font-size: 3.2vw;
                            padding: 10% 0;
                          }
                        }
                        .time {
                          @extend %dateForText;
                          color: #4F4F4F;
                          font-size: 3vw;
                          padding: 0 0 5% 0;
                          @media (min-width: 300px) and (max-width: 549px) {
                            font-size: 4vw;
                          }
                        }
                        .minutes {
                          @extend %dateForText;
                          color: #4F4F4F;
                          font-size: 1.3vw;
                          @media (min-width: 300px) and (max-width: 549px) {
                            font-size: 3vw;
                          }
                        }
                      }
                      .readyIn {
                        width: 100%;
                        height: calc(100% / 3.45);
                        background: linear-gradient(to top right, #E8E8E8, #FFFFFF);
                        .title {
                          @extend %dateForText;
                          color: #8B4513;
                          font-size: 1.6vw;
                          padding: 10% 0 20% 0;
                        }
                        .time {
                          @extend %dateForText;
                          color: #4F4F4F;
                          font-size: 3vw;
                          padding: 0 0 5% 0;
                        }
                        .minutes {
                          @extend %dateForText;
                          color: #4F4F4F;
                          font-size: 1.2vw;
                        }
                      }
                    }
                  }
                }
                &:before {
                  @extend %forBefore;
                  padding: 32%;
                }
              }
              @media (min-width: 300px) and (max-width: 549px) {
                width: 100%;
                margin: 0 auto;
              }
            }
            @media (min-width: 300px) and (max-width: 549px) {
              flex-wrap: wrap;
            }
          }
        }
      }
    }
  }
}